*.7z
*.class
*.com
*.dll
*.dmg
*.exe
*.gz
*.iso
*.jar
*.log
*.o
*.rar
*.so
*.sql
*.sqlite
*.tar
*.zip
._*
.DS_Store
.DS_Store?
.env
.env.backup
.phpunit.result.cache
.php-cs-fixer.cache
.sass-cache
.Spotlight-V100
.Trashes
.well-known/
/dist
/node_modules
/resources/build/node_modules/**/*
/resources/assets/products/*
/resources/assets/style.css
/resources/assets/style1.css
/resources/assets/style2.css
/resources/assets/logo.*
/resources/assets/logo1.*
/resources/assets/logo2.*
/resources/assets/email_logo.*
/resources/assets/email_logo1.*
/resources/assets/email_logo2.*
/resources/assets/favicon.*
/public/assets/img
/public/build/node_modules/**/*
/public/hot
/public/storage
/public/uploads
/public/builder/orders
/public/builder_uploads
/public/dist
/public/assets/img
/storage/*.key
/vendor
build/node_modules/**/*
/build/node_modules/**/*
composer.lock
ehthumbs.db
Homestead.json
Homestead.yaml
node_modules/**/*
npm-debug.log
package-lock.json
Thumbs.db
yarn-error.log
yarn.lock

app/Nova
app/Providers/NovaServiceProvider.php
config/nova.php
public/vendor/nova
public/vendor/nova-kit
public/google*.html