@use "utilities";
@use "layout";

.btn {
    @extend .badge;
    position: relative;
    appearance: none;
    cursor: pointer;
    padding-block-start: 0.7em;
    padding-block-end: 0.65em;
    padding-inline-start: 1em;
    padding-inline-end: 1em;
    font-size: 0.875rem;

    &:focus,
    &:focus-visible,
    &:active {
        outline-width: 2px;
        outline-offset: 2px;
        outline-style: solid;
    }

    &:hover {
        text-decoration: none;
    }
}

.btn\:sm {
    @extend .btn;
    font-size: 0.7rem;
}

.btn\:xs {
    @extend .btn;
    font-size: 0.6rem;
}

.btn__payment {
    @extend %el__spacing;
    transition: opacity 0.3s 0.2s ease;
}

.btn__remove {
    --dismiss_icon_padding: 0.5rem 0.8rem;
    --dismiss_icon_length: 24px;
    @extend %overlay__dismiss;
    color: var(--color_border);
    position: relative;
    block-size: calc(1rem + 1lh);
    margin-block-start: -0.5rem;
}