@use "utilities";

@include utilities.bps(".flex-row") {
    flex-direction: row;
}

@include utilities.bps(".flex-row-reverse") {
    flex-direction: row-reverse;
}

@include utilities.bps(".flex-col") {
    flex-direction: column;
}

@include utilities.bps(".flex-col-reverse") {
    flex-direction: column-reverse;
}

@include utilities.bps(".flex-wrap") {
    flex-wrap: wrap;
}

@include utilities.bps(".flex-wrap-reverse") {
    flex-wrap: wrap-reverse;
}

@include utilities.bps(".flex-nowrap") {
    flex-wrap: nowrap;
}

@include utilities.bps(".flex-1") {
    flex: 1 1 0%;
}

@include utilities.bps(".flex-auto") {
    flex: 1 1 auto;
}

@include utilities.bps(".flex-initial") {
    flex: 0 1 auto;
}

@include utilities.bps(".flex-none") {
    flex: none;
}

@include utilities.bps(".flex-grow-0") {
    flex-grow: 0;
}

@include utilities.bps(".flex-grow") {
    flex-grow: 1;
}

@include utilities.bps(".flex-shrink-0") {
    flex-shrink: 0;
}

@include utilities.bps(".flex-shrink") {
    flex-shrink: 1;
}

@include utilities.bps(".order-1") {
    order: 1;
}

@include utilities.bps(".order-2") {
    order: 2;
}

@include utilities.bps(".order-3") {
    order: 3;
}

@include utilities.bps(".order-4") {
    order: 4;
}

@include utilities.bps(".order-5") {
    order: 5;
}

@include utilities.bps(".order-6") {
    order: 6;
}

@include utilities.bps(".order-7") {
    order: 7;
}

@include utilities.bps(".order-8") {
    order: 8;
}

@include utilities.bps(".order-9") {
    order: 9;
}

@include utilities.bps(".order-10") {
    order: 10;
}

@include utilities.bps(".order-11") {
    order: 11;
}

@include utilities.bps(".order-12") {
    order: 12;
}

@include utilities.bps(".order-first") {
    order: -9999;
}

@include utilities.bps(".order-last") {
    order: 9999;
}

@include utilities.bps(".order-none") {
    order: 0;
}